name: "Check Pull Request"

on:
  pull_request:
    types: [opened,edited]
    branches: ["p5"]
#  pull_request_review:
#    types: [submitted]

# name: automerge
# on:
#   pull_request:
#     types:
#       - labeled
#       - unlabeled
#       - synchronize
#       - opened
#       - edited
#       - ready_for_review
#       - reopened
#       - unlocked
#   pull_request_review:
#     types:
#       - submitted
#   check_suite:
#     types:
#       - completed
#   status: {}

jobs:

##
##
##

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: "running lint..."
        run: |
          echo "FIXME Plug Lint here"
          true

##
## run the test suite
##
  tests:
    name: "Testing with cPlay"
    needs: lint
    runs-on: ubuntu-latest
    # strategy:
    #   fail-fast: false
    #   matrix:
    #     node: ['5.30', '5.28']
    steps:
      - name: using install-with-cplay
        uses: perl-actions/install-with-cplay@cplay-ci
    # FIXME check the installation of module

##
##
##
  merge:
    runs-on: ubuntu-latest
    needs: tests
    if: always() # set always
    steps:
        # run this action to get workflow conclusion
        # You can get conclusion by env (env.WORKFLOW_CONCLUSION)
      - uses: technote-space/workflow-conclusion-action@v1.1.1     
      - name: Checking Pull Request
        uses: pause-play/play-action-pr@master
        with:
          status: ${{ env.WORKFLOW_CONCLUSION }} # neutral, success, cancelled, timed_out, failure        
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        #if: env.WORKFLOW_CONCLUSION == 'failure'

# if: failure()
# if: startsWith(github.ref, 'refs/tags/v')
#    if: always() # set always

##
## workflow-conclusion-action
##

# https://github.com/marketplace/actions/workflow-conclusion-action

 # slack:
 #    name: Slack
 #    needs: publish # set needs only last job except this job
 #    runs-on: ubuntu-latest
 #    if: always() # set always
 #    steps:
 #        # run this action to get workflow conclusion
 #        # You can get conclusion by env (env.WORKFLOW_CONCLUSION)
 #      - uses: technote-space/workflow-conclusion-action@v1
 #      - uses: 8398a7/action-slack@v2
 #        with:
 #          # status: ${{ env.WORKFLOW_CONCLUSION }} # neutral, success, cancelled, timed_out, failure
 #          status: failure
 #        env:
 #          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
 #          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
 #        if: env.WORKFLOW_CONCLUSION == 'failure' # notify only if failure
